<div class="main_header">
   <div class="main-header-left">
      <div class="main_roomname">
         てす
      </div>
   </div>
   <div class="main-header-right">
      <div class="delete_room">
         <a href="#">チャットを終了する</a>
      </div>
   </div>
</div>
<div class="messages">
      <div class="message">
         <div class="message-data">
            <div class="name">
               名前
            </div>
            <div class="date">
               時間
            </div>
         </div>
         <div class="message-content">
            <div class="content">
               メッセージ
            </div>
         </div>
      </div>
</div>
   <%= form_with model: [@room, @message], class: 'main_footer', local: true do |f| %>
      <div class="text-form">
         <%= f.text_field :content, class: 'text', placeholder: 'type a message' %>
         <label class="form-image">
            <span class="image-file">画像</span>
            <%= f.file_field :image, class: 'hidden' %>
         </label>
      </div>
      <%= f.submit '送信', class: 'submit-btn' %>
   <% end %>